name: Deploy

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'Which branch to deploy'
        required: true
        type: string
      commit_sha:
        description: 'Commit SHA to deploy'
        required: false
        type: string
      environment_name:
        description: 'Which environment to deploy'
        required: true
        type: string
      triggered_by:
        description: 'Username that triggered deployment (not required, shown if triggered via GitHub UI, logged if triggered via GitHub app)'
        required: false
        type: string

concurrency: ${{ github.event.inputs.environment_name }}

env:
  CI: true
  PR_AUTO_BUILD_FILE_NAME: 'build.yml'
  RAW_URL: https://raw.githubusercontent.com/${{ github.repository }}/${{ github.event.inputs.branch_name }}

jobs:
  deploy:
    uses: ls1intum/.github/.github/workflows/deploy-docker-compose.yml@main
    with:
      environment: ${{ inputs.environment_name }}
      docker-compose-file: './docker/docker-compose-prod.yml'
      main-image-name: ghcr.io/ls1intum/staffplan-server
      image-tag: ${{ inputs.commit_sha }}
      deployment-base-path: '/opt/staffplan'
    secrets: inherit
